@{
    ViewBag.Title = "Contact";
}
<style>
    .logo img {
        max-width: 100%;
        height: auto;
    }
</style>
<div class="content logo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <img src="~/Content/FrontEnd/dist/img/contactanos.PNG" class="brand-image" />
            </div>
        </div>
    </div>
</div>