@{
    ViewBag.Title = "Home Page";
}
<style>
    .logo img {
  max-width: 100%;
  height: auto;
}

    #footer-01 {
        position: relative;
        padding-top: 3.2em;
        padding-bottom: 1.3em;
        color: #FFFFFF;
        font-size: .7em;
        line-height: 1.5em;
        background-color: #2D2D2D;
    }

    #footer-logos {
    position: relative;
    margin-bottom: .4em;
}

    #footer-logos {
    position: relative;
    margin-bottom: .4em;
}
    
#footer-soluciones {
    list-style-type: none;
    padding-left: 0;
  
}
/*#footer-esp-dos {
    font-family: 'Open Sans';
    flex: 0 0 50%;
    max-width: 50%
}*/

.footer-dato {
    line-height: 1.3em;
    margin-bottom: .7em;
}
</style>

<div class="content logo">   
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img src="~/Content/FrontEnd/dist/img/Fractal2.png" class="brand-image">
            </div>
        </div>        
    </div>  
</div>

<footer class="container-fluid px-0" id="footer-01">
    <img id="footer-bg" src="/img/pattern-05.png" alt="">
    <div class="container">
        <div class="row">
            <div class="col-12" id="footer-logos">
                <img src="~/Content/FrontEnd/dist/img/fractal-logo.png" alt="">
                <a href="https://www.youtube.com/channel/UC0JVZiMnljLPv1zbQNBPASw" target="_blank" rel="noopener noreferrer">
                    <img src="~/Content/FrontEnd/dist/img/youtube-logo.png" class="img-fluid" alt="">
                </a>
                <a href="https://www.linkedin.com/company/somosfractal" target="_blank" rel="noopener noreferrer">
                    <img src="~/Content/FrontEnd/dist/img/linkedin-logo.png" class="img-fluid" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6">
               
                <span class="font-weight-bold">Soluciones:</span>
                <ul id="footer-soluciones">
                    <li><a href="https://www.fractal.com.pe/soluciones/gestionderecursoshumanos">Gestión de Recursos Humanos</a></li>
                    <li><a href="https://www.fractal.com.pe/soluciones/biometriayautenticacion">Biometría y Autenticación</a></li>
                    <li><a href="https://www.fractal.com.pe/soluciones/consultoriaydesarrollo">Consultoría y Desarrollo</a></li>
                    <li><a href="https://www.fractal.com.pe/soluciones/infraestructuracloud">Infraestructura Cloud</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6" id="footer-esp-dos">
                <span class="font-weight-bold">Nuestras oficinas</span>
                <div class="footer-dato">Calle Andrés Reyes Nº 524, San Isidro<br>Lima - Perú </div>
                <span class="font-weight-bold">Central de atención</span>
                <div class="footer-dato">(511) 500 8005</div>
                <span class="font-weight-bold">Contacto comercial</span>
                <div class="footer-dato">servicios@fractal.com.pe</div>
            </div>
        </div>
        <div class="row">
            @*<div class="col-12 col-lg-6">
                <div id="footer-certificacion">
                    <div>Certificaciones:</div>
                    <div><img src="/img/footer/icd-logo.png" alt=""></div>
                    <div><img src="/img/footer/indecopi-logo.png" alt=""></div>
                </div>
            </div>*@
            @*<div class="col-12 col-lg-6" id="footer-legal">
                <a href="#">Aviso Legal</a>
                <a href="#">Política de cookies</a>
            </div>*@
        </div>
    </div>
</footer>